<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <% for (const sheet of css) { %>
    <link rel="stylesheet" href="/css/<%= sheet %>.css">
    <% } %>
    <% for (const script of js) { %>
    <link rel="stylesheet" href="/js/<%= script %>.js">
    <% } %>
    <title>Network Probe - <%= title %></title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper indigo darken-1">
                <a href="/" class="left brand-logo">SCAN</a>
                <a href="#" data-target="hidden-nav" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <%- include('menu'); %>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="hidden-nav">
            <%- include('menu'); %>
        </ul>
    </header>
    <main>
        <div class="container">