<%- include('header', {title: 'Machines', leaflet: false, css: [], js: [], banner: false}); -%>
<div class="row">
    <h1>Résultat du scan</h1>
</div>
<div class="col s5">
    <h2>Scan oppéré le <%= data[0]["nmaprun"]["@startstr"] %></h2>
</div>

<div id="table_id">
    <div class="row">
            <div class="col s4"></div>
            <button class="waves-effect waves-light btn col s2 indigo darken-1" id="new_scan">Nouveau Scan<i class="material-icons right">replay</i></button>
            <div class="col s1"></div>
            <a class="dropdown-trigger waves-effect waves-light btn col s2 indigo darken-1" href="#" data-target="files">Charger<i class="material-icons right">import_export</i></a>
            <div class="col s1"></div>
            <button class="waves-effect waves-light btn col s2 indigo darken-1" id="save">Enregistrer<i class="material-icons right">save</i></button>
            <ul id="files" class="dropdown-content grey lighten-2">
                <% files.forEach((file) => { %>
                    <% database_name = "/database/"+file ;%>
                    <li><a href="<%= database_name %>"><%= file %></a></li>
                <% }); %>
            </ul>
    </div>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible.popout');
      var instances = M.Collapsible.init(elems, { accordion: false });
    });
    $(document).ready(function() {
        $('#new_scan').click(function() {
            container = document.getElementById('table_id');
            newElement = $(document.createElement('pre'));
            newElement.append(`<p>Scan en cours...</p>`);
            newElement.append(`<div class="progress indigo lighten-4"><div class="indeterminate indigo darken-1"></div></div>`);
            container.appendChild(newElement[0]);
            $.ajax({
                url: '/scan',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    container.removeChild(newElement[0]);
                    window.location.replace('/database');
                }
            });
        });
        $('#save').click(function() {
            var value = prompt("Saisissez le nom du fichier à enregistrer :");
            if (value) {
                container = document.getElementById('table_id');
                newElement = $(document.createElement('pre'));
                newElement.append(`<p>Enregistrement en cours...</p>`);
                newElement.append(`<div class="progress indigo lighten-4"><div class="indeterminate indigo darken-1"></div></div>`);
                container.appendChild(newElement[0]);
                $.ajax({
                    url: '/save',
                    type: 'GET',
                    data: {name: value},
                    success: function (data) {
                        console.log(data);
                        container.removeChild(newElement[0]);
                        window.location.replace('/database');
                    }
                });
            }
        });
    })
</script>
<div class="row">
    <table class="centered highlight responsive-table">
        <thead class="indigo darken-1 white-text">
            <tr>
                <th colspan="1">Hostname</th>
                <th colspan="1">IP</th>
                <th colspan="1">Etat</th>
                <th colspan="1">Plus d'informations</th>
            </tr>
        </thead>
        <tbody>
        <% hosts.forEach((host,hostIndex) => { %>
            <tr>
                <td><%= host.name %></td>
                <td><%= host.address %></td>
                <% vuln_bool = false; %>
                <% host.ports.forEach((port) => { %>
                    <% if (port['vuln'] != null) { %>
                        <% vuln_bool = true; %>
                    <% } %>
                <% }); %>
                <% if (vuln_bool) { %>
                    <td><i class="material-icons" style="color: red;">warning</i></td>
                <% } else {%>
                    <td><i class="material-icons" style="color: green;">check</i></td>
                <% } %>
                <td>
                    <button class="btn indigo darken-1 row-btn" id="btn<%= hostIndex %>">Infos<i class="material-icons left">arrow_drop_down</i></button>
                </td>
            </tr>
            <tr id="dropdown<%= hostIndex %>" class="center-align"  style="display: none;">
                <td colspan="4" class="collapsible popout">
                    <% host.ports.forEach((port) => { %>
                    <li>
                        <% if (port['vuln'] != null) { %>
                            <div class="collapsible-header red lighten-3 no-border"><%= port['data'] %></div>
                            <% port.vuln.forEach((vuln) => { %>
                                <div class="collapsible-body blue-grey lighten-4">
                                    Type : <%=vuln['type']%> / Niveau cvss : <%=vuln['cvss']%> / Nom : <%=vuln['id']%>
                                    <% const link = "https://vulners.com/"+vuln['type']+"/"+vuln['id'] %>
                                    <a href="<%=link%>" class="btn waves-effect waves-light blue-grey lighten-3" target="_blank">Description</a>
                                </div>
                            <% }); %>
                        <% } else {%>
                            <div class="collapsible-header green lighten-3 no-border"><%= port['data'] %></div>
                            <div class="collapsible-body  blue-grey lighten-4"> Aucune vulnérabilité détectée </div>
                        <% } %>
                    </li>
                    <% }); %>
                </td>        
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<script>
    // Initialisation de colapsible
    // $(document).ready(function(){
    //     $('.collapsible').collapsible();
    // });
    const btns = document.querySelectorAll('.row-btn');
    btns.forEach((btn, btnIndex) => {
        btn.addEventListener('click', function() {
            // récupère le contenu à afficher ou masquer
            const dropdownElement = document.querySelector(`#dropdown${btnIndex}`);

            // affiche ou cache le contenu en fonction de son état actuel
            if (dropdownElement.style.display === 'none') {
                dropdownElement.style.display = 'table-row';
            } else {
                dropdownElement.style.display = 'none';
            }
        });
    });
</script>

<%- include('footer'); -%>