<%- include('header', {title: 'Machines', leaflet: false, css: [], js: [], banner: false}); -%>
<link rel="stylesheet" href="app.css">
<div class="row">
    <h1>L'ensemble des machines</h1>
</div>
<div class="row">
    <div class="col s6">
        <h2>Scan oppéré le <%= data["nmaprun"]["@startstr"] %></h2>
    </div>
    <div class="col s3">
        <a class="waves-effect waves-light btn indigo darken-1 centered" href="/index">Nouveau Scan<i class="material-icons right">replay</i></a>
    </div>
    <div class="col s3">
        <button class="waves-effect waves-light btn indigo darken-1">Enregistrer<i class="material-icons right">save</i></button>
    </div>
</div>
<div class="row">
    <table class="centered highlight responsive-table white-text">
        <thead class="indigo darken-1">
            <tr>
                <th colspan="1">Hostname</th>
                <th colspan="1">IP</th>
                <th colspan="1">Plus d'informations</th>
            </tr>
        </thead>
        <tbody>
            <% hosts.forEach((host,index) => { %>
            <tr>
                <td><%= host.name %></td>
                <td><%= host.address %></td>
                <td>
                    <button class="btn arrow indigo darken-1" id="btn<%= index %>">Infos</button>
                </td>
            </tr>
            <%# ports.forEach((ports,index) => { %>
                <tr id="dropdown<%= index %>" style="display:none; background-color: #8b9dee; text-align: center;">
                    <td colspan="3">
                        <table>
                            <%# <tr>
                                <td colspan="3">Informations</td>
                            </tr> #%>
                            <tr>
                                <td colspan="3">Contenu de la première ligne de la liste déroulante</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            <% }); %>
            <%# }); %> 
        </tbody>
    </table>
</div>

<script>
    const btns = document.querySelectorAll('.arrow');
    btns.forEach((btn, index) => {
        btn.addEventListener('click', function() {
            // récupère le contenu à afficher ou masquer
            const dropdown = document.querySelector(`#dropdown${index}`);

            // affiche ou cache le contenu en fonction de son état actuel
            if (dropdown.style.display === 'none') {
                dropdown.style.display = 'table-row';
            } else {
                dropdown.style.display = 'none';
            }
        });
    });
</script>

<%- include('footer'); -%>