<%- include('header', {title: 'Machines', leaflet: false, css: [], js: [], banner: false}); -%>
<link rel="stylesheet" href="app.css">
<div class="row">
    <h1>L'ensemble des machines</h1>
</div>
<div class="col s5">
    <h2>Scan oppéré le <%= data["nmaprun"]["@startstr"] %></h2>
</div>

<div id="table_id">
    <div class="row">
            <div class="col s5"></div>
            <button class="waves-effect waves-light btn col s2 indigo darken-1" id="new_scan">Nouveau Scan<i class="material-icons right">replay</i></button>
            <button class="waves-effect waves-light btn col s2 indigo darken-1" id="save">Enregistrer<i class="material-icons right">save</i></button>
            <button class="waves-effect waves-light btn col s2 indigo darken-1">Charger<i class="material-icons right">import_export</i></button>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#new_scan').click(function() {
            container = document.getElementById('table_id');
            newElement = $(document.createElement('pre'));
            newElement.append(`<p>Scan en cours...</p>`);
            newElement.append(`<div class="progress indigo lighten-4"><div class="indeterminate indigo darken-1"></div></div>`);
            container.appendChild(newElement[0]);
            $.ajax({
                url: '/scan',
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    container.removeChild(newElement[0]);
                    window.location.replace('/database');
                }
            });
        });
        $('#save').click(function() {
            var value = prompt("Saisissez le nom du fichier à enregistrer :");
            if (value) {
                container = document.getElementById('table_id');
                newElement = $(document.createElement('pre'));
                newElement.append(`<p>Enregistrement en cours...</p>`);
                newElement.append(`<div class="progress indigo lighten-4"><div class="indeterminate indigo darken-1"></div></div>`);
                container.appendChild(newElement[0]);
                $.ajax({
                    url: '/save',
                    type: 'GET',
                    data: {name: value},
                    success: function (data) {
                        console.log(data);
                        container.removeChild(newElement[0]);
                        window.location.replace('/database');
                    }
                });
            }
        });
    })
</script>
<div class="row">
    <table class="centered highlight responsive-table">
        <thead class="indigo darken-1 white-text">
            <tr>
                <th colspan="1">Hostname</th>
                <th colspan="1">IP</th>
                <th colspan="1">Plus d'informations</th>
            </tr>
        </thead>
        <tbody>
            <% hosts.forEach((host,index) => { %>
            <tr>
                <td><%= host.name %></td>
                <td><%= host.address %></td>
                <td>
                    <button class="btn indigo darken-1" id="btn<%= index %>">Infos<i class="material-icons left">arrow_drop_down</i></button>
                </td>
            </tr>
            <tr id="dropdown<%= index %>" class="indigo lighten-2 center-align" style="display: none;">
                <td colspan="3">
                    <table>
                        <%# ports.forEach((ports,index) => { %>
                        <%# <tr>
                            <td colspan="3">Informations</td>
                        </tr> #%>
                        <tr>
                            <td colspan="3">Contenu de la première ligne de la liste déroulante</td>
                        </tr>
                        <tr>
                            <td colspan="3">Contenu de la première ligne de la liste déroulante</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <% }); %>
            <%# }); %> 
        </tbody>
    </table>
</div>

<script>
    const btns = document.querySelectorAll('.arrow');
    btns.forEach((btn, index) => {
        btn.addEventListener('click', function() {
            // récupère le contenu à afficher ou masquer
            const dropdown = document.querySelector(`#dropdown${index}`);

            // affiche ou cache le contenu en fonction de son état actuel
            if (dropdown.style.display === 'none') {
                dropdown.style.display = 'table-row';
            } else {
                dropdown.style.display = 'none';
            }
        });
    });
</script>

<%- include('footer'); -%>